__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.venv/
*.egg
.mypy_cache/
.ruff_cache/
.pytest_cache/
models/**
!models/.gitkeep
!models/.gitignore
output/
*.mp4
*.wav
*.mp3
*.avi
*.mkv
.env
